@import url('https://fonts.cdnfonts.com/css/inclusive-sans-2');

.buy-tickets-title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Milanello', sans-serif;

    margin: 0 2rem 2rem 2rem;
}

.form-container {
    display: flex;
    flex-direction: row;

    margin-bottom: 7rem;
}

.form-box {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0 2rem 2rem 2rem;
    width: 65rem;
}

.buy-ticket-input {
    width: 100%;
    font-family: 'Inclusive Sans', sans-serif;
    background: #D45827;
    
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    
    outline: none;
}

.submit-buy-ticket-button {
    padding: 0.5rem 15rem;
    margin-top: 2rem;
    font-family: 'Milanello', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: #D45827;
    
    border-radius: 10px;
    border: 1px solid #D45827;

    outline: none;
}

.buy-ticket-input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.cat-skull-image {
    width:  30rem;

    background: url('https://cdn.discordapp.com/attachments/1295082816194875424/1296952100969906218/e02e5d926af71fe185c0d1fc984c2b2a.png?ex=67142845&is=6712d6c5&hm=e4c84c873914523dd0a530d00f08404a0c7bdc8d493a4f4cc804f529c93ebff4&') no-repeat center center;
    background-size: contain;
}