@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
}

.page-background {
  min-height: 100vh;
  
  background: url('./assets/background.png') repeat;
  background-size: auto; 
  background-position: center; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (min-width: 1335px) {
  .page-background {
    background-size: cover;
  }
}

@media only screen and (min-width: 1366px) {
  .page-container {
    width: 1366px;
    margin: auto;
  }
}
