@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
}

.page-container {
  height: 100vh;

  background: url('./assets/background.png') no-repeat center center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (min-width: 1335px) {
  .page-container {
    background-size: 100% 100%;
  }
}