@import url('https://fonts.cdnfonts.com/css/milanello');

.movie-posters-container {
    margin: 0 2rem 2rem 2rem; 
}

.search-input {
    width: 100%;
    margin-bottom: 1rem;

    background: #ffffff00;
    color: #FFF;

    border-bottom: 1px solid #FFFFFF;

    padding: 5px;
    outline: none;
}

.movie-posters-title {
    color: #FFF;

    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Milanello', sans-serif;

    padding: 2rem 0rem;
}
.movie-posters-box {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 50px;
    column-gap: 50px;

    margin-top: 15px;
}

.movie-posters-box img{

    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.5s ease;
    
}

.movie-posters-box img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

.tooltip{

    position: absolute; /* Para que o balão apareça acima da imagem */
    background-color: rgb(0, 0, 0); /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    top: 10px; /* Ajuste a posição conforme necessário */
    left: 10px; /* Ajuste a posição conforme necessário */
    z-index: 10; /* Para garantir que o balão apareça acima de outros elementos */
    transition: opacity 0.3s ease; /* Transição suave ao aparecer/desaparecer */
    width: 500px; /* Defina uma largura fixa ou ajuste conforme necessário */
    max-width: 2000px; /* Defina uma largura máxima */
    font-size: 24px; /* Ajuste o tamanho da fonte */

}