.movie-posters-container {
    position: relative;
    margin: 0 2rem 2rem 2rem;
  }
  
  .movie-posters-title {
    color: #FFF;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Milanello', sans-serif;
    padding: 2rem 0;
  }
  
  .search-input {
    width: 100%;
    margin-bottom: 1rem;
    background: transparent;
    color: #FFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px;
    outline: none;
  }
  
  .movie-posters-box {
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
    margin-top: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .movie-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.5s ease;
    cursor: pointer;
  }
  
  .movie-image:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  
  .overlay {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.876);
    z-index: 1;
  }
  
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: fixed;
    
    max-width: 1366px;
    top: 30%;
    left: 30%;
    right: 30%;
    padding: 3rem;

    border-radius: 1rem;
    font-size: 2rem;
    font-family: 'Inclusive Sans', sans-serif;
    
    color: rgb(199, 93, 23);
    background-image: linear-gradient(to left, rgba(33, 33, 33, 0.968), rgba(0, 0, 0, 0.911));
    z-index: 2;
  }
  
  .btn {
    width: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    
    color: white;
    transition: all 300ms;
    border-radius: 1rem;
    border: 1px solid #FFF;
  }
  
  .btn:hover {
    background-color: rgb(199, 93, 23);
    color: #FFFFFF;
  }
  
  .description-title {
    color: #FFFFFF;
    padding: 1rem 2rem;
    margin: 0 0 2rem 0;
    border-radius: 1rem;
  }
 
    .description-container {
        
        max-width: 1366px;
        top: 30%;
        left: 30%;
        right: 30%;
        padding: 3rem;
    
        border-radius: 1rem;
        font-size: 1.5rem;
        
      }

  @media screen and (max-width: 1570px){
    .description-container {
        border-radius: 1rem;
        font-size: 1.5rem;
        
      }
  }
  @media screen and (max-width: 900px){
    .description-container {
        padding: 1.5rem;
    
        border-radius: 1rem;
        font-size: 1rem;
        
      }
  }